@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #1f1f1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmi{
    border: 1px solid lightslategray;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255, 0.2);
    width: 400px;
    height: auto;
    box-shadow: 0px 3px 15 rgb(109, 96, 96);
    gap: 10px;
}
.bmi label{
    font-size: 140%;

}
input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;

}
input::placeholder{
    text-align: center;
}

.submit{
    background-color: greenyellow;
    color: rgb(22, 45, 53);
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.submit::hover{
    background-color: limegreen;
}
#result{
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
    color: lightgreen;
}